@model Chat
@inject IUserService userService
@inject IChatService chatService
@inject IImageService imageService 
@{
    User curUser = await userService.GetAsync(User);
    User opponent = await chatService.GetOpponent(Model, curUser);
    string opponentFullName = opponent.UserInformation.FirstName + " "+  opponent.UserInformation.SecondName;
    string opponentImagePath = imageService.getUserImagePath(opponent);
    ViewData["Title"] = opponentFullName;
}
<div class="chat-area">
    <div class="container">
        <div class="msg-header">
            <div class="msg-header-img">
                <img src="@Url.Content(opponentImagePath)" />
            </div>
            <div class="active">
                <h4> @opponentFullName </h4>
            </div>
        </div>
        <div class="chat-page">
            <div class="msg-inbox">
                <div class="chats" id="scroll_chat">
                    <div class="msg-page" id="messagesList">
                        @foreach (Message message in Model.Messages)
                        {
                            User owner = await userService.GetAsync(message.UserId);
                            string ownerFullName = owner.UserInformation.FirstName + " " + owner.UserInformation.SecondName;
                            string imagePath = imageService.getUserImagePath(owner);
                            @if (owner.Id == curUser.Id)
                            {
                                <div class="outgoing-chats">
                                    <div class="outgoing-chats-img">
                                        <img src="@Url.Content(imagePath)" />
                                    </div>
                                    <div class="outgoing-chats-msg">
                                        <p> @message.Text</p>
                                        <span class="time date-output time-right"> @message.MessageDate.ToString("O")</span>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="received-chats">
                                    <div class="received-chats-img">
                                        <img src="@Url.Content(imagePath)" />
                                    </div>
                                    <div class="received-msg">
                                        <div class="received-msg-inbox">
                                            <p> @message.Text</p>
                                            <span class="time date-output"> @message.MessageDate.ToString("O")</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                @*
*@
                <div class="msg-bottom">
                    <div class="input-group">
                        <input id="messageText" type="text" class="form-control" placeholder="write message" />
                        <input type="hidden" id="user-id" value="@curUser.Id">
                        <input type="hidden" id="chat-id" value="@Model.Id">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <button class="invisible_button"type="submit" id="sendMessageButton">
                                    <i class="fa fa-paper-plane"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/js/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script>
    var scroll = document.getElementById('scroll_chat');
    scroll.scrollTop = scroll.scrollHeight;
</script>